node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.*.local
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
.npmrc
.npmignore
README.md
Procfile
.github
.gitlab-ci.yml
Jenkinsfile
docker-compose.yml
.dockerignore
Dockerfile
tests
test
.nyc_output
coverage
.eslintcache
